#header{
    display: flex;    
    justify-content: space-between;
}

#locations{
    height: 40px;
    margin-top: 20px;
}

#info{
    height:40px;
    margin-top: 20px;
    
}

#text{
    margin-right: 10px;
    
}



#input{
    display:flex;
    justify-content: center;
    
}

#categories{
    display: flex;
    justify-content: space-around;
    
    
    
}


