body{
    background-image: radial-gradient(circle, #91D1C2, #075149);
    
}

#header{
    display: flex;    
    justify-content: space-between;
}

#locations{
    height: 40px;
    margin-top: 20px;
}

#info{
    height:40px;
    margin-top: 20px;
    
}

#text{
    margin-right: 10px;
    
}

#top{
    overflow: hidden;
    position: fixed; 
    top: 0; 
    left:0;
    width: 100%;
    background-color:#000000;
    background-size: auto;
}

#input{
    display:flex;
    justify-content: center;
}
    

#categories{
    display: flex;
    justify-content: space-around;
    margin-top: 250px;
}

#title{
    font-family: 'Shadows Into Light', cursive;
    color: #35C9DD;
    text-shadow: -2px 0 #97CE4C, 0 2px #97CE4C, 2px 0 #97CE4C, 0 -2px #97CE4C;
    font-size: 70px;
}

#categoryOne{
    font-family: 'Sofia', cursive;
    text-align: center;
    flex-direction: column;
    width: 30%;
    
}
#categoryTwo{
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: center;
    flex-direction: column;
    width:30%;
    
}
#categoryThree{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    flex-direction: column;
    width:30%;
}
button{
    margin: 10px;
    border: 1px solid #000000;
    background: #65d4bc;
    padding: 8.5px 17px;
    border-radius: 40px;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    font-size: 14px;
}
   
button:hover{
    border-top-color: #34b06a;
    background: #34b06a;
}

button:active {
   border-top-color: #ffffff;
   background: #ffffff;
}

#searchInput{
    width: 300px;
    height: 45px;
    margin: 5px;
}