#header{
    display: flex;    
    justify-content: space-between;
}

#locations{
    height: 40px;
    margin-top: 20px;
}

#info{
    height:40px;
    margin-top: 20px;
    
}

#text{
    margin-right: 10px;
    
}



#input{
    display:flex;
    justify-content: center;
    
    
}

#categories{
    display: flex;
    justify-content: space-around;
    
    
}

#title{
    font-family: 'Shadows Into Light', cursive;
}
#categoryOne{
    font-family: 'Sofia', cursive;
    flex-direction: column;
    width: 30%;
    text-align: center;
}
#categoryTwo{
    font-family: 'Open Sans Condensed', sans-serif;
    flex-direction: column;
    width:30%;
    text-align: center;
}
#categoryThree{
    font-family: 'Roboto', sans-serif;
    flex-direction: column;
    width:30%;
    text-align: center;
}